<%- include('../layout/header.ejs') -%>
<link rel="stylesheet" href="/static/css/newcss.css">


</head>

<div class="container">
  <section>
      <div class="shadow-xl">
          <h1 class="text-center fs-2 mb-4 fw-bold">Reset Password</h1>
          <p class="text-muted text-center mb-4">Please enter your new password and confirm it below.</p>
          <form method="post" action="/resetpassword" class="reset-password-form" onsubmit="return validatePasswords()">
              <input type="hidden" name="userId" value="<%= userId %>">
              <input type="hidden" name="token" value="<%= token %>">
              
              <div class="form-group">
                  <label for="new-password" class="form-label">New Password</label>
                  <input type="password" class="form-control" id="new-password" placeholder="New Password" name="password" required>
                  <span class="password-toggle" onclick="togglePasswordVisibility('new-password', 'passwordToggleIcon')">
                      <i id="passwordToggleIcon" class="fa fa-eye-slash"></i>
                  </span>
                  <div class="error-message" id="passwordError"></div>
              </div>
              <div class="form-group">
                  <label for="confirm-password" class="form-label">Confirm Password</label>
                  <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password" name="confirmpassword" required>
                  <span class="password-toggle" onclick="togglePasswordVisibility('confirm-password', 'confirmPasswordToggleIcon')">
                      <i id="confirmPasswordToggleIcon" class="fa fa-eye-slash"></i>
                  </span>
                  <div class="error-message" id="passwordError2"></div>
              </div>
              <div class="error-message text-center" id="matchError"></div>
              <button type="submit" class="btn btn-dark d-block w-100 my-4">Reset Password</button>
          </form>
      </div>
  </section>
</div>
<script>
  function togglePasswordVisibility(inputId, iconId) {
      const passwordInput = document.getElementById(inputId);
      const passwordToggleIcon = document.getElementById(iconId);

      if (passwordInput.type === 'password') {
          passwordInput.type = 'text';
          passwordToggleIcon.classList.remove('fa-eye-slash');
          passwordToggleIcon.classList.add('fa-eye');
      } else {
          passwordInput.type = 'password';
          passwordToggleIcon.classList.remove('fa-eye');
          passwordToggleIcon.classList.add('fa-eye-slash');
      }
  }

  function validatePasswords() {
      const password = document.getElementById('new-password').value;
      const confirmPassword = document.getElementById('confirm-password').value;
      const matchError = document.getElementById('matchError');

      if (password !== confirmPassword) {
          matchError.textContent = 'Passwords do not match.';
          return false; // Prevent form submission
      } else {
          matchError.textContent = ''; // Clear any previous error message
      }
      
      return true; // Allow form submission
  }
</script>


<%- include('../layout/footer.ejs') -%>