<!DOCTYPE html>
<html lang="en" class="light-style layout-wide  customizer-hide" dir="ltr" data-theme="theme-default" data-assets-path="/admin/assets/" data-template="vertical-menu-template" data-style="light">

  
<!-- Mirrored from demos.themeselection.com/materio-bootstrap-html-admin-template/html/vertical-menu-template/auth-login-basic.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 Jun 2024 05:51:08 GMT -->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Login Basic - Pages | Materio - Bootstrap Material Design Admin Template</title>

    
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 5" />
    <meta name="keywords" content="dashboard, material, material design, bootstrap 5 dashboard, bootstrap 5 design, bootstrap 5">
    <!-- Canonical SEO -->
    <link rel="canonical" href="https://themeselection.com/item/materio-bootstrap-html-admin-template/">
    
    
    <!-- ? PROD Only: Google Tag Manager (Default ThemeSelection: GTM-5DDHKGP, PixInvent: GTM-5J3LMKC) -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '../../../../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5DDHKGP');</script>
    <!-- End Google Tag Manager -->
    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;ampdisplay=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="/admin/assets/vendor/fonts/remixicon/remixicon.css" />
    <link rel="stylesheet" href="/admin/assets/vendor/fonts/flag-icons.css" />
    
    <!-- Menu waves for no-customizer fix -->
    <link rel="stylesheet" href="/admin/assets/vendor/libs/node-waves/node-waves.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/admin/assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/admin/assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/admin/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/admin/assets/vendor/libs/typeahead-js/typeahead.css" /> 
    <link rel="stylesheet" href="/admin/assets/vendor/libs/quill/typography.css">
    <link rel="stylesheet" href="/admin/assets/vendor/libs/quill/katex.css">
    <link rel="stylesheet" href="/admin/assets/vendor/libs/quill/editor.css">
    <link rel="stylesheet" href="/admin/assets/vendor/libs/select2/select2.css">
    <link rel="stylesheet" href="/admin/assets/vendor/libs/dropzone/dropzone.css">
    <link rel="stylesheet" href="/admin/assets/vendor/libs/flatpickr/flatpickr.css">
    <link rel="stylesheet" href="/admin/assets/vendor/libs/tagify/tagify.css" />
    <!-- Vendor -->
<link rel="stylesheet" href="/admin/assets/vendor/libs/%40form-validation/form-validation.css" />

    <link rel="stylesheet" href="/admin/assets/vendor/css/pages/page-auth.css">

   

    <link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.7/dist/sweetalert2.min.css">



   

   <style>
/* styles.css */

.file-upload {
  position: relative;
  overflow: hidden;
  display: inline-block;
  background: #f1f1f1;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.file-upload:hover {
  background: #e0e0e0;
}

.file-select {
  display: inline-block;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px; /* Adjust spacing between icon and text */
}

.file-upload input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.img-preview {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 8px;
}

.material-icons {
  vertical-align: middle;
  margin-right: 5px; /* Adjust spacing between icon and text */
}



.left {
    margin-right: 10px; /* Adjust as needed */
}

.img-sm {
    max-width: 100px; /* Adjust image size as needed */
    height: auto;
}

.error-message{
  color: red !important;
}

   </style>

    
   
