
  <!-- Core JS -->
  <!-- build:js assets/vendor/js/core.js -->
  <script src="/admin/assets/vendor/libs/jquery/jquery.js"></script>
  <script src="/admin/assets/vendor/libs/popper/popper.js"></script>
  <script src="/admin/assets/vendor/js/bootstrap.js"></script>
  <script src="/admin/assets/vendor/libs/node-waves/node-waves.js"></script>
  <script src="/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
  <script src="/admin/assets/vendor/libs/hammer/hammer.js"></script>
  <script src="/admin/assets/vendor/libs/i18n/i18n.js"></script>
  <script src="/admin/assets/vendor/libs/typeahead-js/typeahead.js"></script>
  <script src="/admin/assets/vendor/js/menu.js"></script>
  
  <!-- endbuild -->

  <!-- Vendors JS -->
<script src="/admin/assets/vendor/libs/%40form-validation/popular.js"></script>
<script src="/admin/assets/vendor/libs/%40form-validation/bootstrap5.js"></script>
<script src="/admin/assets/vendor/libs/%40form-validation/auto-focus.js"></script>

  <!-- Main JS -->
  <script src="/admin/assets/js/main.js"></script>
  

  <!-- Page JS -->
  <script src="/admin/assets/js/pages-auth.js"></script>
  
</body>


<!-- Mirrored from demos.themeselection.com/materio-bootstrap-html-admin-template/html/vertical-menu-template/auth-login-basic.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 Jun 2024 05:51:08 GMT -->
</html>